:root {
    --background: #E8ECEF;
    --background-darker: #D1D9DF;	
    --primary: #102B3E; 
    --error: #F2505E;
    --pass: #59C562;
    --sky: #3AC3E7;
    --violet: #E83D60;
    --purple: #6765E1;
}

body{
	margin: 0px;
	font-family: sans-serif;
}

.ttypo{
	background-color: var(--background);
	color: var(--primary);
	height: calc(100vh - 32px);
	width: calc(100vw - 32px);
	text-align: center;
	transition: border 300ms;
}

.ttypo.--idle{
	border: 16px solid var(--sky);
}

.ttypo.--pass{
	border: 16px solid var(--pass);
}

.ttypo.--error{
	border: 16px solid var(--error);
}


.ttypo .__wrapper{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
    height: 100%;
    align-items: center;

}
.ttypo  .__timer{
	height: 20%;
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.ttypo  .__playzoon{
	height: 60%;
	display: flex;
    flex-direction: column;
    justify-content: center;
	font-size: 32px;
}

.ttypo .--example{

}
.ttypo .--entered {
	max-width: 100%;
	height: 50px;
	text-align: center;
	margin-top: 8px;
	min-width: 100px;
	background-color: var(--background-darker);
	border-radius: 3px;
	cursor: pointer;
}
.ttypo .--entered span{
	text-align: center;
	height: 50px;
	min-width: 100px;
	margin: 8px 16px;
	cursor: text;
}
.ttypo .--entered .--wrong{
	color: var(--error)
}

.ttypo  .__options{
	height: 20%;
	width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.ttypo  .__options .--next-word{
	margin: 16px 8px;
	padding: 8px 16px;
	border-radius: 5px;
	color: var(--background);
	transition: background-color 300ms;
}

.__options .--next-word.--idle{
	background-color: var(--sky);
}
.__options .--next-word.--pass{
	background-color: var(--pass);
}
.__options .--next-word.--error{
	background-color: var(--error);
}